.single-product{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;  
    width: 90%;
    margin: 20px auto; 
    margin-top: 20px; 
}

.single-product .image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.single-product .product-details{
    padding: 20px;
    background-color: #edede9;
    width: 500px;
}
.product-details h6
{   
    font-size: 18px;
    font-weight: 400;


}
.product-details .price {
    margin: 10px 0;
}
.product-details .price > div{
    font-size: 16px;
    font-weight: bold;
}

.product-details .price .actual-price{
    color: #777;
    text-decoration: line-through;
}

.product-details .rating{
    color: #008000;
    font-weight: 600;
    font-size: 16px;
}
.product-details .btns button
{
    background-color: #222;
    color: #FFF;
    margin: 10px 10px 10px  0    ;
    padding: 12px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}
.product-details .btns button:hover{
    background-color: #444;
}
.product-details .description{
    margin: 10px 0;
}
.ploicy > div{
    padding: 0;
    margin: 0;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.product-details .shipping , .product-details .terms{
    font-size: 20px;
    margin-right: 15px;
}
@media (max-width:767px) {
    .single-product {
        flex-direction: column;
        width: 100%;
        margin-top: 100px;

    }
    .single-product .product-details{
        padding: 20px 10px ;
        width: 100%;
    }
}